body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#logo {
    color: #fff;
    text-align: center;
}
.headerDivider {
    float: left;
    height: 44px;
    margin: 10px 0; 
}
#nav {
    float: left;
    margin-left: 30px;
    background: none;
    border-bottom: 0;
    line-height: 62px;
}
#nav a{
   color: #fff;
}
.xsNav {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;

}
.mainContent {
    flex: 1 1 auto;
}
.wrap {
    max-width: 980px;
    margin: 0 auto;
}
.wrap img{
    max-width: 100%;
}