body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#logo {
    color: #fff;
    text-align: center;
}
.headerDivider {
    float: left;
    height: 44px;
    margin: 10px 0; 
}
#nav {
    float: left;
    margin-left: 30px;
    background: none;
    border-bottom: 0;
    line-height: 62px;
}
#nav a{
   color: #fff;
}
.xsNav {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}
.main {
    flex: 1 1 auto;
    margin: 0;
}
.main .wrap {
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.indexSider {
    border-right:1px solid #ccc;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
#indexMenu {
    border-right: none;
}
#indexMenu li {
    margin-right: -1px;
    text-align: center;
    border-right: 3px solid rgba(0,0,0,0);
}
#indexMenu li:hover,
#indexMenu .ant-menu-item-selected {
    border-right-color: #1890ff;
    background-color: #e6f7ff;
}
.wrap {
    max-width: 980px;
    margin: 0 auto;
}
.wrap img{
    max-width: 100%;
}