body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.panel {
    border: 1px solid #000;
    width: 80%;
}
.title {
    margin: 0;
    padding: 10px;
    background: #ccc;
}
p.message {
    color: #aaa;
}
p.vip {
    color: red;
}
.hide{
    display: none;
}
.good{
    transition: all 1s;
}
